<li class="list-group-item container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{iconUrl}}" alt="Health Report Icon"/>
        </div>
        <div class="col-sm-10">
            <span>{{description}}</span>
        </div>
    </div>
</li>