<div class="list-group-item">
    <div>
        <a href="../{{number}}">
            <h5>Build #{{number}} <span class="pull-right">{{timestamp}}</span></h5>
        </a>
    </div>
    <ul class="list-group changeset">
        {{#each changesets}}
            {{> changeset this}}
        {{/each}}
    </ul>
</div>